* {
    padding: 0;
    margin: 0;
}

html {
    height: 100vh;
    width: 100vw;
}

main, body {
    width: 100%;
    height: 100%;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../images/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}